{% extends 'base.html' %}

{% block title %}
    CRUD de Categoria
{% endblock %}

{% block main %}
<h4>Cadastro de Categorias</h4>
    <a href="{% url 'create_categoria' %}" class="btn btn-success"> <i class="fa fa-plus"></i></a>
<table class="table">
    <thead>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Tipo</th>
        <th>Ativa</th>
        <th> </th>
        <th> </th>
    </thead>
    {% if object_list %}
        <tbody>
        {% for categoria in object_list %}
        <tr>
           <td>
                <a href="{% url 'update_categoria' categoria.id %}" >{{ categoria.nome }}</a>
           </td>
           <td>{{ categoria.descricao }}</td>
           <td>
                {% if categoria.tipo == 1 %}
                    Receita
                {% else %}
                    Despesa
                {% endif %}
           </td>

           <td>
                {% if categoria.status %}
                    <i class="fa-solid fa-square-check"></i>
                {% else %}
                    <i class="fa-solid fa-ban"></i>
                {% endif %}
           </td>
           <td>
                <a href="{% url 'update_categoria' categoria.id %}" class="btn btn-success"><i class="fa-solid fa-square-pen"></i></a>
           </td>
           <td>
                <a href="{% url 'delete_categoria' categoria.id %}" class="btn btn-success"><i class="fa-solid fa-trash"></i></a>
           </td>
        </tr>
        {% endfor %}
        </tbody>
    {% endif %}
</table>

{% endblock %}
