{% extends 'base.html' %}
{% load l10n %}
{% block title %}
Fechamento de Mês
{% endblock %}

{% block main %}
<div class="row justify-content-center">
    <p class="text-center"><a href="{% url 'create_fechamento' %}" class="btn btn-success"><i class="fa fa-plus"></i>
            Iniciar novo mês</a></p>
    <table class="table table-striped w-auto center">
        <thead>
            <th>Mês/Ano</th>
            <th>Saldo Mês Anterior</th>
            <th>Entradas</th>
            <th>Saídas</th>
            <th>Saldo do Mês</th>
            <th colspan="4" class="text-center">Ações</th>
        </thead>
        {% if object_list %}
        <tbody>
            {% for f in object_list %}
            <tr>
                <td>
                    {{f.data|date:'m/Y'}}
                </td>
                <td>{{ f.saldo_anterior }}</td>
                <td>
                    {{ f.entradas }}
                </td>
                <td>
                    {{ f.saidas }}
                </td>
                <td>
                    {{ f.saldo }}
                </td>
                <td>
                    {% if f.fechado %}
                    <a href="{% url 'refresh_fechamento' f.id %}" class="btn btn-success disabled"><i
                            class="fa-solid fa-refresh"></i></a>
                    {% else %}
                    <a href="{% url 'refresh_fechamento' f.id %}" class="btn btn-success"><i
                            class="fa-solid fa-refresh"></i></a>
                    {% endif %}
                </td>

                <td>
                    {% if f.fechado %}
                    <a href="{% url 'encerrar_fechamento' f.id %}" class="btn btn-success">Reabrir</a>
                    {% else %}
                    <a href="{% url 'encerrar_fechamento' f.id %}" class="btn btn-success">Encerrar</a>
                    {% endif %}

                </td>
                <td>
                    {% if f.fechado %}
                    <a href="{% url 'update_fechamento' f.id %}" class="btn btn-success disabled"><i
                            class="fa-solid fa-square-pen"></i></a>
                    {% else %}
                    <a href="{% url 'update_fechamento' f.id %}" class="btn btn-success"><i
                            class="fa-solid fa-square-pen"></i></a>
                    {% endif %}
                </td>
                <td>
                    {% if f.fechado %}
                    <a href="{% url 'delete_fechamento' f.id %}" class="btn btn-success disabled"><i
                            class="fa-solid fa-trash"></i></a>
                    {% else %}
                    <a href="{% url 'delete_fechamento' f.id %}" class="btn btn-success"><i
                            class="fa-solid fa-trash"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}

    </table>
</div>
{% endblock %}