{% extends 'base_relatorio.html' %}
{% load humanize %}
{% load l10n %}
{% load crispy_forms_tags %}

{% block title %}
Movimento Caixa
{% endblock %}

{% block header %}
    <h1>Paróquia São Benedito - Limeira</h1>
{% endblock %}

{% block main %}
    <h2>BALANCETE ANALÍTICO - Competência - {{ mes_corrente|intcomma}}/{{ ano_corrente }}</h2>
    <hr>
    {% if dsReceita %}
    <h2>RECEITAS</h2>
    <table class="bordada">
        <thead>
            <th style="width: 40% ">Conta</th>
            <th style="text-align: center; width: 20%">Data</th>
            <th style="text-align: center; width: 20%">Documento</th>
            <th style="text-align: right; width: 20%">Valor (R$)</th>
        </thead>
        <tbody>
            {% for r in dsReceita %}
            <tr>
                <td>{{ r.conta }}</td>
                <td style="text-align: center; ">{{ r.data|date:"d/m/Y" }} </td>
                <td style="text-align: right;">{{ r.documento }}</td>
                <td style="text-align: right;">{{ r.valor }}</td>
            </tr>
            {% endfor %}
            <tr style="background: #555; color:white">
                <td></td>
                <td style="text-align: center; "></td>
                <td style="text-align: right;">Sub-total: </td>
                <td style="text-align: right;">
                    RS {{ totalReceita.valor__sum|floatformat:2|intcomma }}
                </td>
            </tr>
        </tbody>
    </table>
    {% endif %}
    <br><br>
    {% if dsDespesa %}
    <H2 style="page-break-before: always" >DEPESAS</H2>
    <table class="bordada">
        <thead>
            <th style="width: 40% ">Conta</th>
            <th style="text-align: center; width: 20%">Data</th>
            <th style="text-align: center; width: 20%">Documento</th>
            <th style="text-align: right; width: 20%">Valor (R$)</th>
        </thead>
        <tbody>
            {% for d in dsDespesa %}
            <tr>
                <td>{{ d.conta }}</td>
                <td style="text-align: center; ">{{ d.data|date:"d/m/Y" }} </td>
                <td style="text-align: right;">{{ d.documento }}</td>
                <td style="text-align: right;">{{ d.valor }}</td>
            </tr>
            {% endfor %}
            <tr style="background: #555; color: white">
                <td></td>
                <td style="text-align: center; "></td>
                <td style="text-align: right;">Sub-total: </td>
                <td style="text-align: right;">
                    RS {{ totalDespesa.valor__sum|floatformat:2|intcomma }}
                </td>
            </tr>
       </tbody>
    </table>
    {% endif %}

    <br><br>

    <h1 style="page-break-before: always" >Quadro Resumo:</h1>
    <table class="bordada">
        <thead>
            <th style="width: 50%; padding-left:1.0em; font-size:1.5rem;">Natureza</th>
            <th style="text-align: right; width: 50%; padding-right:1.0em; font-size:1.5rem;">Valor Total</th>
        </thead>
        <tbody>
            <tr>
                <td style="width: 50%; padding-left:1.0em; font-size:1.5rem;">
                    Receita
                </td>
                <td style="text-align: right; width: 50%; padding-right:1.0em; font-size:1.5rem;">
                    RS {{ totalReceita.valor__sum|floatformat:2|intcomma }}
                </td>
            </tr>
            <tr>
                <td style="width: 50%; padding-left:1.0em; font-size:1.5rem;">
                    Despesa
                </td>
                <td style="text-align: right; width: 50%; padding-right:1.0em; font-size:1.5rem;">
                    RS {{ totalDespesa.valor__sum|floatformat:2|intcomma }}
                </td>
            </tr>
            <tr>
                <td style="width: 50%; padding-left:1.0em; font-size:1.5rem;">
                    Saldo do período
                </td>
                <td style="text-align: right; width: 50%; padding-right:1.0em; font-size:1.5rem;">
                    RS {{ totalSaldo|floatformat:2|intcomma }}
                </td>
            </tr>
        </tbody>
    </table>
    <br>
{% endblock %}

{% block rodape %}
<!-- rodape -->
    <br><br><br>
    <table class="table">
        <tr>
            <td style="text-align: center; width: 40%; border-top:1px solid black;"><b>Pe. Ciro Sinotti</b></td>
            <td></td>
            <td style="text-align: center; width: 40%; border-top:1px solid black;"><b>Luzia Matioli</b></td>
        </tr>
        <tr>
            <td style="text-align: center;">Pároco</td>
            <td></td>
            <td style="text-align: center;">Tesoureira</td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="3">
                <p style="text-align: center; font-size:smaller;"><i>Limeira,{{ data_emissao }}</i></p>
            </td>
        </tr>
    </table>


{% endblock %}
