{% extends "base.html" %}
<!--{% load bootstrap4 %}-->
<!--{% bootstrap_css %}-->
<!--{% bootstrap_javascript jquery='full' %}-->

{% load crispy_forms_tags %}

{% block main %}
  <form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Gravar</button>
    <a href="{% url 'list_movimento' %}" class="btn btn-success">Cancelar</a>
  </form>
<br><br><br>


   <script>
        $(function () {

            min_Date = new Date( {{ ano_corrente }}, {{ mes_corrente }} - 1, 1)
            max_Date = new Date( {{ ano_corrente }}, {{ mes_corrente }} - 1, 28)

            console.log(min_Date, max_Date)

            $("#id_data").datepicker({
                dateFormat: 'dd/mm/yy',
                closeText: "Fechar",
                prevText: "&#x3C;Anterior",
                nextText: "Próximo&#x3E;",
                monthNames: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
                monthNamesShort: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
                dayNames: ["Domingo", "Segunda-feira", "Terça-feira", "Quarta-feira", "Quinta-feira", "Sexta-feira", "Sábado"],
                dayNamesShort: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sáb"],
                dayNamesMin: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sáb"],
                weekHeader: "Sm",
                firstDay: 1,
                minDate: min_Date,
                maxDate: max_Date
             });
        });
    </script>

{% endblock %}
