{% extends 'base.html' %}

{% block main %}

<h2 class="text-center">Paróquia São Benedito - Limeira</h2>
<h2 class="text-center">Diocese de Limeira - São Palio - Brasil</h2>
<br>
<h3>Sistema simplificado de Gestão de Tesouraria</h3>
<br>
<h3>Sequência lógica de uso do sistema:</h3>
<ol>
    <li>
        Categorias: Salários, Internet, Dízimo, Coleta, Ajuda de custo, etc.
        <br>
        Lembrando que uma categoria pode ser do tipo Receita ou Despesa
    </li>
    <li>
        Plano de contas: Salário da secretária mais linda da diocese, Ajuda de custo para a tesoureira, Salário da
        serviçal, Dízimo dos fieis da matriz, Coleta missa sábado 18:30, etc.
        <br>
        Lembrando que toda conta terá que pertencer a uma Categoria.
    </li>
    <li>
        Abir/Fechar Mês: Inicializa um mês, sobre o qual será lançado as receitas e despesas. Nesse momento o sistema
        transportará o saldo do último mês para o novo mês, como Saldo Anterior.
    </li>
    <li>
        Lançamento: Lançamento das contras, Receita e Despesa, do mês em questão.
        <br>Observe que antes de iniciar os lançamentos deverá definir o mês que está trabalhando e que, todas as contas
        lançadas deverão possuir data do mês em questão.
        <br>Depois de feito os lançamentos, ou a qualquer momento, pode voltar em Abrir/Fechar Mês e clicar no ícone
        Refresh para o sistema atualizar os dados de fechamento do mês, como as Entradas, Saídas e Saldo do Mês.
    </li>
    <li>
        Após a conclusão dos lançamentos do mês, deverá ser feito o fechamento do mês.
        <br>
        Para isso vá até o menu "Movimento -> Abrir/Fechar Mês" e click no botão "Encerrar" do mês que pretende fechar.
        <br>
        Se um mês já estiver encerrado, será apresentado o botão "Reabrir" no lugar do botão "Encerrar".
        <br>
        Uma vez encerrado, o mês não aceitará mais lançamentos, a menos que reabra o mês, que pode ser feito seguindo o mesmo
        procedimento de encerramento.
    </li>
    <li>
        A qualquer momento poderá emitir os relatórios de balancete, Analítico ou Sintético.
        <br>
        Para emitir um relatório vá até o menu "Relatorios". Na tela que será apresentada, digite o mês e ano de competência
        que pretende emitir relatórios e então clique no botão correspondente ao tipo de relatório desejado.
        Os relatórios serão gerados no formato PDF, que será baixado e então poderá se manipulado como qualquer arquivo
        PDF, podendo ser armazenado, impresso ou enviado via internet.
    </li>
</ol>

{% if not user.is_authenticated %}
    <h2 class="text-warning text-center">IMPORTANTE!!!</h2>
    <h3 class="text-warning text-center">Para ter acesso ao sistema você precisa fazer login!</h3>
{% endif %}
{% endblock %}

